/* reset */
$min-width: 320px; 
$max-width: 1220px; 
$base-bg: #FFF; 
$base-font-size: 16px; 
$base-line-height: 1.3; 
$base-font-family: 'Geometria', sans-serif; 
$custom-font-family: 'Roboto', sans-serif; 
$link-color: #282828;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #282828;
$brand-color: #cc453b;
$brand-color-2: #0dbb78;

$font-size-h1: 40px;
$font-size-h2: 35px;
$font-size-h3: 24px;
