@font-face {
	font-family:'Intro';
	src: url('../fonts/Intro.eot');
	src: url('../fonts/Intro.eot?#iefix') format('embedded-opentype'), url('../fonts/Intro.woff') format('woff'), url('../fonts/Intro.ttf') format('truetype'), url('../fonts/Intro.svg#Intro') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;}

@font-face {
	font-family:'Roboto';
	src: url('../fonts/Roboto.eot');
	src: url('../fonts/Roboto.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype'), url('../fonts/Roboto.svg#Roboto') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2044;}
@font-face {
	font-family:'Roboto';
	src: url('../fonts/Roboto Bold.eot');
	src: url('../fonts/Roboto Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Bold.woff') format('woff'), url('../fonts/Roboto Bold.ttf') format('truetype'), url('../fonts/Roboto Bold.svg#Roboto Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2044;}

@font-face {
	font-family:'Nexa';
	src: url('../fonts/Nexa Light.eot');
	src: url('../fonts/Nexa Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Nexa Light.woff') format('woff'), url('../fonts/Nexa Light.ttf') format('truetype'), url('../fonts/Nexa Light.svg#NexaLight') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;}
@font-face {
	font-family:'Nexa';
	src: url('../fonts/Nexa Bold.eot');
	src: url('../fonts/Nexa Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Nexa Bold.woff') format('woff'), url('../fonts/Nexa Bold.ttf') format('truetype'), url('../fonts/Nexa Bold.svg#NexaBold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;}