
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	background:url('../img/bg-footer.png') no-repeat center top #fff;
    

	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;	
    -webkit-order: 3;	
    padding: 105px 0 80px;
   position: relative;
    z-index: 1;
    .logo{
        &__text{
            font-size: 34px;
            margin-top: 2px;
            padding-left: 2px;
        }
        &__overtext{
            font-size: 14px;
            margin-left: 7px;
            margin-top: -3px;
            line-height: 15px;
            vertical-align: middle;
        }
    }
}

.footer-blocks{
    &__col{
        width: 25%;
        float: left;
        padding-right: 20px;
        z-index: 1;
        position: relative;
        &:nth-child(1){
            width: 29.5%;
        }
        &:nth-child(2){
            width: 20.4%;
        }
        &:nth-child(3){
            width: 24%;
        }
        &:nth-child(4){
            padding-right: 0;
            .f-links__title{
                padding-bottom: 15px;
            }
        }
        
    }
}

.f-{
    &copy{
        font-size: 15px;
        font-weight: 300;
        padding: 0 0 0 5px;
        position: relative;
        top: -12px;
    }
    &user-block{
            margin: 14px 0 45px 0;
        float: none;
    }
   &select-city{
        width: 240px;
        max-width: 100%;
        padding-top: 90px;
        padding-left: 5px;

        .jq-selectbox__select {
            height: 46px;
                padding: 0px 50px 0 30px;
            border: 1px solid #737373;
            border-radius: 23px;
            background: transparent;
            box-shadow: none;
            font-size: 16.8px;
            line-height: 44px;
            font-weight: bold;
            color: #000;
            font-family: inherit;
            trsition: border-color 0.2s linear;
        }
       .jq-selectbox__trigger{
           width: 40px;
       }
        .jq-selectbox__select:hover{
            background: transparent;
        }
        .jq-selectbox.opened .jq-selectbox__select{
            border-radius: 23px 23px 0 0;
        }
        .jq-selectbox__trigger-arrow{
            display: none;
        }
        .jq-selectbox__trigger:before{
            position: absolute;
            top: 0;
            left: 0;
            right: 25px;
            bottom: 0;
            margin: auto;
            background: url('../img/icons.png') no-repeat 0 0 ;
            background-size: 200px 200px;
            width: 12px;
            height: 5px;
            content: "";
        }
        .jq-selectbox__dropdown{
            top: 46px;
            border: 1px solid #000;
            border-top: 0;
            background: #fafafa;
            font-size: 16.8px;            
            font-weight: bold;
            color: #000;
            font-family: inherit;
            border-radius: 0 0 23px 23px;
        }
        .jq-selectbox li{
            font-size: 16px;
            
            font-family: inherit;
            &:last-child{
                border-radius: 0 0 22px 22px;
            }
        }
        .jq-selectbox:hover .jq-selectbox__select, .jq-selectbox.opened .jq-selectbox__select{
            border-color: #000;
        } 
    }
    &social{
        padding-top: 52px !important;
        padding-left: 5px !important;                 
        &__link{
                display: inline-block;
                vertical-align: middle;
                margin-right: 3px;
                background: url(../img/icons-social.png) no-repeat 0 0;
                background-size: 217.5px 43px;
                width: 43px;
                height: 43px;
                transform: scale(0.9);
                margin-top: -3px;
            &-1{
                background-position: 0 0 ;
            }
            &-2{
                background-position: -58px 0 ;
            }
            &-3{
                background-position: -115px 0 ;
            }
            &-4{
                background-position: -174px 0 ;
            }
            &:hover{
                opacity: 0.8;
            }
        }
        span{
               font-size: 12px;
            display: block;
            letter-spacing: 0;
            font-weight: 300;
            font-style: italic;
            padding-top: 15px;
        }        
    }
    &links{
        padding-top: 15px;
        font-size: 18.5px;
        &__title{
            font-size: 18.5px;
            font-weight: bold;
                padding-bottom: 39px;
        }
        &-list{
            &__item{
                   padding: 9px 0 10px;
                display: block;
            }
            &__link{
                color: #000;
                font-weight: 300;
                border-bottom: 1px solid transparent;
                font-size: 18.5px;
                line-height: 1.3;
                &:hover{
                    border-color: #000;
                }
            }
        }
    }
    &btn{
        margin-bottom: 48px;
         .btn.btn-large {
                font-size: 15px;
                padding: 1.3em 0.6em 1.35em;
                height: 60px;
                letter-spacing: 0;
                width: 262px;
              background-image: -moz-linear-gradient( 90deg, rgb(108,190,216) 0%, rgb(172,229,245) 100%);
              background-image: -webkit-linear-gradient( 90deg, rgb(108,190,216) 0%, rgb(172,229,245) 100%);
              background-image: -ms-linear-gradient( 90deg, rgb(108,190,216) 0%, rgb(172,229,245) 100%);
             max-width: 100%;
                 &:before {
                    left: 0px;
                    right: 0px;
                    border-top: #5aa5bd solid 0.3rem;
                    border-left: 0.3rem solid transparent;
                    border-right: 0.3rem solid transparent;
                }
                &:after {
                    height: 0.5em;
                    box-shadow: 0 0 0.7em 0.5em rgba(67, 91, 96, 0.52);
                    background: rgba(20, 56, 68, 0.52);
                }
            }    
    }
    &link-login{
         position: relative;
            margin-left: 50px;
        &:before{
            position: absolute;
            content: "";
                left: -48px;
            top: 50%;
            background: url(../img/icons.png) no-repeat -152px 0;
            background-size: 200px 200px;
            width: 17px;
            height: 18px;
            margin-top: -9px;
        }
    }
    &link-register{
        position: relative;
           margin-left: 50px;
        &:before{
            position: absolute;
            content: "";
                left: -45px;
            top: 50%;
            width: 13px;
            height: 13px;
            background: url(../img/icons.png) no-repeat -134px -16px;
            background-size: 200px 200px;
            margin-top: -6.5px;
        }
    } 
}
@media screen and (max-width: 1400px) {
    footer {
        padding: 80px 0 60px;
    }
}

@media screen and (max-width: 991px) {
    footer{
        display: none;
    }
}