@font-face {
    font-family:'SFUIText';
    src: url('../fonts/SFUIText-Light.eot?ver1.2');
	src: url('../fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SFUIText-Light.woff?ver1.2') format('woff'),
		url('../fonts/SFUIText-Light.ttf?ver1.2') format('truetype'),
		url('../fonts/SFUIText-Light.svg#SFUIText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'SFUIText';
    src: url('../fonts/SFUIText-Regular.eot?ver1.2');
	src: url('../fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SFUIText-Regular.woff?ver1.2') format('woff'),
		url('../fonts/SFUIText-Regular.ttf?ver1.2') format('truetype'),
		url('../fonts/SFUIText-Regular.svg#SFUIText-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'SFUIText';
    src: url('../fonts/SFUIText-Medium.eot?ver1.2');
	src: url('../fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SFUIText-Medium.woff?ver1.2') format('woff'),
		url('../fonts/SFUIText-Medium.ttf?ver1.2') format('truetype'),
		url('../fonts/SFUIText-Medium.svg#SFUIText-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'SFUIText';
    src: url('../fonts/SFUIText-Bold.eot?ver1.2');
	src: url('../fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SFUIText-Bold.woff?ver1.2') format('woff'),
		url('../fonts/SFUIText-Bold.ttf?ver1.2') format('truetype'),
		url('../fonts/SFUIText-Bold.svg#SFUIText-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'SFUIText-G1';
    src: url('../fonts/SFUIText-BoldG1.eot?ver1.2');
	src: url('../fonts/SFUIText-BoldG1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SFUIText-BoldG1.woff?ver1.2') format('woff'),
		url('../fonts/SFUIText-BoldG1.ttf?ver1.2') format('truetype'),
		url('../fonts/SFUIText-BoldG1.svg#SFUIText-BoldG1') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'SFUIText-G3';
    src: url('../fonts/SFUIText-BoldItalicG3.eot?ver1.2');
	src: url('../fonts/SFUIText-BoldItalicG3.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SFUIText-BoldItalicG3.woff?ver1.2') format('woff'),
		url('../fonts/SFUIText-BoldItalicG3.ttf?ver1.2') format('truetype'),
		url('../fonts/SFUIText-BoldItalicG3.svg#SFUIText-BoldItalicG3') format('svg');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

/* Muller*/

@font-face {
    font-family:'Muller-Ultra';
    src: url('../fonts/MullerUltraLight.eot?ver1.2');
	src: url('../fonts/MullerUltraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MullerUltraLight.woff?ver1.2') format('woff'),
		url('../fonts/MullerUltraLight.ttf?ver1.2') format('truetype'),
		url('../fonts/MullerUltraLight.svg#MullerUltraLight') format('svg');
    font-weight: 250;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

@font-face {
    font-family:'Muller';
    src: url('../fonts/MullerLight.eot?ver1.2');
    src: url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerLight.woff?ver1.2') format('woff'),
        url('../fonts/MullerLight.ttf?ver1.2') format('truetype'),
        url('../fonts/MullerLight.svg#MullerLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

@font-face {
    font-family:'Muller';
    src: url('../fonts/MullerRegular.eot?ver1.2');
	src: url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MullerRegular.woff?ver1.2') format('woff'),
		url('../fonts/MullerRegular.ttf?ver1.2') format('truetype'),
		url('../fonts/MullerRegular.svg#MullerRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

@font-face {
    font-family:'Muller';
    src: url('../fonts/MullerMedium.eot?ver1.2');
	src: url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MullerMedium.woff?ver1.2') format('woff'),
		url('../fonts/MullerMedium.ttf?ver1.2') format('truetype'),
		url('../fonts/MullerMedium.svg#MullerMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

@font-face {
    font-family:'Muller';
    src: url('../fonts/MullerBold.eot?ver1.2');
	src: url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MullerBold.woff?ver1.2') format('woff'),
		url('../fonts/MullerBold.ttf?ver1.2') format('truetype'),
		url('../fonts/MullerBold.svg#MullerBold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uzfqtc');
  src:  url('../fonts/icomoon.eot?uzfqtc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uzfqtc') format('truetype'),
    url('../fonts/icomoon.woff?uzfqtc') format('woff'),
    url('../fonts/icomoon.svg?uzfqtc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Material-Design-Iconic-Font';
    src: url('../fonts/Material-design-iconic-font-webfont.eot?ver1.2');
    src: url('../fonts/Material-design-iconic-font-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Material-design-iconic-font-webfont.woff?ver1.2') format('woff'),
         url('../fonts/Material-design-iconic-font-webfont.ttf?ver1.2') format('truetype'),
         url('../fonts/Material-design-iconic-font-webfont.svg#material-desidesigniconicfont') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:'PfDindisplayPro';
    src: url('../fonts/PfDindisplayPro.eot?ver1.2');
    src: url('../fonts/PfDindisplayPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PfDindisplayPro.woff?ver1.2') format('woff'),
        url('../fonts/PfDindisplayPro.ttf?ver1.2') format('truetype'),
        url('../fonts/PfDindisplayPro.svg#o Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-04D9;
}

@font-face{
    font-family:'Material-Design-Iconic-Font';
    src:url(../fonts/Material-Design-Iconic-Font.woff2?v=2.2.0) format('woff2'),
    url(../fonts/Material-Design-Iconic-Font.woff?v=2.2.0) format('woff'),
    url(../fonts/Material-Design-Iconic-Font.ttf?v=2.2.0) format('truetype')
}