/* reset */
$min-width: 320px; 
$max-width: 1327px; 
$brand-bg: #0a101c;
$base-font-size: 12px; 
$base-line-height: 1.3; 
$base-font-family: 'ProximaNova', sans-serif; 
$link-color: #595959;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #595959;
$text-color2: #1a273e;
$brand-color: #ffde00;


$font-size-h2: 26px;
$line-height-h2: 1.1;
$font-size-h3: 18px;