@font-face {
    font-family:'ProximaNova';
    src: url('../fonts/Proxima Nova Thin.eot');
    src: url('Proxima Nova Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima Nova Thin.woff') format('woff'),
    url('../fonts/Proxima Nova Thin.ttf') format('truetype'),
    url('../fonts/Proxima Nova Thin.svg#Proxima Nova Thin') format('svg');
    font-weight: 250;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}


@font-face {
    font-family:'ProximaNova';
    src: url('../fonts/Proxima Nova Light.eot');
  src: url('../fonts/Proxima Nova Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima Nova Light.woff') format('woff'),
    url('../fonts/Proxima Nova Light.ttf') format('truetype'),
    url('../fonts/Proxima Nova Light.svg#a Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'ProximaNova';
    src: url('../fonts/Proxima Nova Regular.eot');
  src: url('../fonts/Proxima Nova Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima Nova Regular.woff') format('woff'),
    url('../fonts/Proxima Nova Regular.ttf') format('truetype'),
    url('../fonts/Proxima Nova Regular.svg#a Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'ProximaNova';
    src: url('../fonts/Proxima Nova Semibold.eot');
    src: url('../fonts/Proxima Nova Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima Nova Semibold.woff') format('woff'),
    url('../fonts/Proxima Nova Semibold.ttf') format('truetype'),
    url('../fonts/Proxima Nova Semibold.svg#a Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'ProximaNova';
    src: url('../fonts/Proxima Nova Bold.eot');
	  src: url('../fonts/Proxima Nova Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Proxima Nova Bold.woff') format('woff'),
		url('../fonts/Proxima Nova Bold.ttf') format('truetype'),
		url('../fonts/Proxima Nova Bold.svg#a Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'ProximaNova';
    src: url('../fonts/Proxima Nova Black.eot');
	src: url('../fonts/Proxima Nova Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Proxima Nova Black.woff') format('woff'),
		url('../fonts/Proxima Nova Black.ttf') format('truetype'),
		url('../fonts/Proxima Nova Black.svg#Proxima Nova Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}



@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?g03fjc');
  src:  url('../fonts/icomoon.eot?g03fjc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?g03fjc') format('truetype'),
    url('../fonts/icomoon.woff?g03fjc') format('woff'),
    url('../fonts/icomoon.svg?g03fjc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-usd:before {
  content: "\e90e";
}
.icon-arrow-down:before {
  content: "\e90c";
  color: #ffde00;
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-fb:before {
  content: "\e902";
}
.icon-feature1:before {
  content: "\e903";
}
.icon-feature2:before {
  content: "\e904";
}
.icon-feature3:before {
  content: "\e905";
}
.icon-ins:before {
  content: "\e906";
}
.icon-ok:before {
  content: "\e907";
}
.icon-tel:before {
  content: "\e908";
  color: #ffde00;
}
.icon-tel2:before {
  content: "\e909";
  color: #ffde00;
}
.icon-vk:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90b";
}
.icon-ruble:before {
  content: "\e90d";
  color: #a4a4a4;
}





