@font-face {
	font-family:'Proxima Nova';
	src: url('../fonts/Proxima Nova Light.eot');
	src: url('../fonts/Proxima Nova Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Light.woff') format('woff'), url('../fonts/Proxima Nova Light.ttf') format('truetype'), url('../fonts/Proxima Nova Light.svg#a Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;}
@font-face {
	font-family:'Proxima Nova';
	src: url('../fonts/Proxima Nova Regular.eot');
	src: url('Proxima Nova Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Regular.woff') format('woff'), url('../fonts/Proxima Nova Regular.ttf') format('truetype'), url('../fonts/Proxima Nova Regular.svg#a Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;}
@font-face {
	font-family:'Proxima Nova';
	src: url('../fonts/Proxima Nova Semibold.eot');
	src: url('../fonts/Proxima Nova Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Semibold.woff') format('woff'), url('../fonts/Proxima Nova Semibold.ttf') format('truetype'), url('../fonts/Proxima Nova Semibold.svg#a Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;}
@font-face {
	font-family:'Proxima Nova';
	src: url('../fonts/Proxima Nova Bold.eot');
	src: url('../fonts/Proxima Nova Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Bold.woff') format('woff'), url('../fonts/Proxima Nova Bold.ttf') format('truetype'), url('../fonts/Proxima Nova Bold.svg#a Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;}
@font-face {
	font-family:'Proxima Nova';
	src: url('../fonts/Proxima Nova Black Italic.eot');
	src: url('../fonts/Proxima Nova Black Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Black Italic.woff') format('woff'), url('../fonts/Proxima Nova Black Italic.ttf') format('truetype'), url('../fonts/Proxima Nova Black Italic.svg#Proxima Nova Black Italic') format('svg');
	font-weight: 900;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0491;}


@font-face {
	font-family:'Airstrike';
	src: url('../fonts/Airstrike Regular.eot');
	src: url('../fonts/Airstrike Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Airstrike Regular.woff') format('woff'), url('../fonts/Airstrike Regular.ttf') format('truetype'), url('../fonts/Airstrike Regular.svg#Airstrike Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;}
